In [1]:
import pandas as pd
drink=pd.read_csv('drink.csv')
drink

    age  gender   drink
0    21       1    coke
1    30       1  coffee
2    35       0     tea
3    55       0   water
4    19       0  orange
5    60       1     tea
6    39       0   water
7    25       1    coke
8    44       1  coffee
9    47       0   water
10   33       0     tea
11   65       1     tea

In [2]:
x=drink.drop(columns=['drink'])
x

    age  gender
0    21       1
1    30       1
2    35       0
3    55       0
4    19       0
5    60       1
6    39       0
7    25       1
8    44       1
9    47       0
10   33       0
11   65       1

In [3]:
y=drink['drink']
y

0       coke
1     coffee
2        tea
3      water
4     orange
5        tea
6      water
7       coke
8     coffee
9      water
10       tea
11       tea
Name: drink, dtype: object

In [4]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x,y)
prediction = model.predict([[20,0]])
prediction

/Users/chenxiaomie/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['orange'], dtype=object)

In [5]:
import joblib
joblib.dump(model,'drink-recommender.joblib')

['drink-recommender.joblib']