In [1]:
import pandas as pd
housing_small = pd.read_csv('housing_small.csv')
housing_small

    area   price
0    300  250000
1    430  340000
2    250  203000
3    500  405200
4    230  187500
5    480  390120
6    600  510000
7    380  318000
8    630  540000
9    200  160000
10   500  424000
11   650  529000
12   480  405000
13   310  262000
14   470  375000
15   760  650000

In [2]:
x = housing_small.drop(columns=['price'])
x

    area
0    300
1    430
2    250
3    500
4    230
5    480
6    600
7    380
8    630
9    200
10   500
11   650
12   480
13   310
14   470
15   760

In [3]:
y = housing_small['price']
y

0     250000
1     340000
2     203000
3     405200
4     187500
5     390120
6     510000
7     318000
8     540000
9     160000
10    424000
11    529000
12    405000
13    262000
14    375000
15    650000
Name: price, dtype: int64

In [4]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x,y)
prediction = model.predict([[1000]])
prediction

/Users/chenxiaomie/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([650000])

In [5]:
import joblib
joblib.dump(model,'housing-recommender.joblib')

['housing-recommender.joblib']